@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #030d2e;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'roboto';
}

.border-box {
    width: 700px;
    height: 400px;
    position: relative;
    background-color: #060c21;
    margin: 20px;
}

.border-box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -1;
}

.border-box::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -2;
    filter: blur(10px);
}

.content {
    color: #fff;
}

.contents {
    color: rgb(247, 0, 0);
}